/*ECT ICONS FONT*/

@font-face {
    font-family: 'ecticons';
    src: url('font/ecticons.eot?89740583');
    src: url('font/ecticons.eot?89740583#iefix') format('embedded-opentype'), url('font/ecticons.woff2?89740583') format('woff2'), url('font/ecticons.woff?89740583') format('woff'), url('font/ecticons.ttf?89740583') format('truetype'), url('font/ecticons.svg?89740583#ecticons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
[class^="ect-icon-"]:before,
[class*=" ect-icon-"]:before {
    font-family: "ecticons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ect-icon-star:before {
    content: '\e800';
}


/* '' */

.ect-icon-down:before {
    content: '\e801';
}


/* '' */

.ect-icon-up:before {
    content: '\e802';
}


/* '' */

.ect-icon-flight:before {
    content: '\e803';
}


/* '' */

.ect-icon-bell:before {
    content: '\e804';
}


/* '' */

.ect-icon-left:before {
    content: '\e805';
}


/* '' */

.ect-icon-right:before {
    content: '\e806';
}


/* '' */

.ect-icon-flash:before {
    content: '\e807';
}


/* '' */

.ect-icon-card:before {
    content: '\e808';
}


/* '' */

.ect-icon-calendar:before {
    content: '\e809';
}


/* '' */

.ect-icon-calendar-alt:before {
    content: '\e80a';
}


/* '' */

.ect-icon-clock:before {
    content: '\e80b';
}


/* '' */

.ect-icon-clock-alt:before {
    content: '\e80c';
}


/* '' */

.ect-icon-location:before {
    content: '\e810';
}


/* '' */

.ect-icon-location-alt:before {
    content: '\e811';
}


/* '' */

.ect-icon-wallet:before {
    content: '\e812';
}


/* '' */

.ect-icon-search:before {
    content: '\e814';
}


/* '' */

.ect-icon-users:before {
    content: '\e815';
}


/* '' */

.ect-icon-user:before {
    content: '\e816';
}


/* '' */

.ect-icon-home:before {
    content: '\e817';
}


/* '' */

.ect-icon-link:before {
    content: '\e818';
}


/* '' */

.ect-icon-spin:before {
    content: '\e839';
}


/* '' */

.ect-icon-certificate:before {
    content: '\f0a3';
}


/* '' */

.ect-icon-filter:before {
    content: '\f0b0';
}


/* '' */

.ect-icon-gplus:before {
    content: '\f0d4';
}


/* '' */

.ect-icon-money:before {
    content: '\f0d6';
}


/* '' */

.ect-icon-bulb:before {
    content: '\f0eb';
}


/* '' */

.ect-icon-bell-alt:before {
    content: '\f0f3';
}


/* '' */

.ect-icon-left-double:before {
    content: '\f100';
}


/* '' */

.ect-icon-right-double:before {
    content: '\f101';
}


/* '' */

.ect-icon-up-double:before {
    content: '\f102';
}


/* '' */

.ect-icon-down-double:before {
    content: '\f103';
}


/* '' */

.ect-icon-quote-left:before {
    content: '\f10d';
}


/* '' */

.ect-icon-quote-right:before {
    content: '\f10e';
}


/* '' */

.ect-icon-mic:before {
    content: '\f130';
}


/* '' */

.ect-icon-ticket:before {
    content: '\f145';
}


/* '' */

.ect-icon-down-alt:before {
    content: '\f150';
}


/* '' */

.ect-icon-up-alt:before {
    content: '\f151';
}


/* '' */

.ect-icon-right-alt:before {
    content: '\f152';
}


/* '' */

.ect-icon-euro:before {
    content: '\f153';
}


/* '' */

.ect-icon-pound:before {
    content: '\f154';
}


/* '' */

.ect-icon-dollar:before {
    content: '\f155';
}


/* '' */

.ect-icon-bitcoin:before {
    content: '\f15a';
}


/* '' */

.ect-icon-left-alt:before {
    content: '\f191';
}


/* '' */

.ect-icon-car:before {
    content: '\f1b9';
}


/* '' */

.ect-icon-twitter:before {
    content: '\f304';
}


/* '' */

.ect-icon-facebook:before {
    content: '\f308';
}


/* '' */

.ect-icon-linkedin:before {
    content: '\f30c';
}


/* '' */

.ect-icon-whatsapp:before {
    content: '\f232';
}


/* '' */

.ect-icon-mail-alt:before {
    content: '\f0e0';
}


/* '' */

.ect-icon-mail:before {
    content: '\f199';
}


/* '' */

.ect-icon-share-alt:before {
    content: '\e813';
}


/* '' */

.ect-icon-share:before {
    content: '\f1e1';
}


/* '' */


/*ECT ICONS FONT - END*/