.ect-feedback-notice-wrapper.notice.notice-info.is-dismissible,
.ect-elementor-addon-notice_admin_notice {
    padding: 5px;
    /* display: table; */
    /* width: calc(100% - 10px); */
    max-width: 870px;
    clear: both;
    border-radius: 5px;
    box-sizing: border-box;
    /* margin: 5px; */
}

.ect-feedback-notice-wrapper .message_container{
    display: table-cell;
    padding: 5px 22px 5px 5px;
    vertical-align: middle;
}

.ect-feedback-notice-wrapper ul li {
    float: left;
    margin: 0px 10px 0 0;
}

.ect-feedback-notice-wrapper ul li.already_rated a:before {
    color: #f12945;
    content: "\f153";
    font: normal 18px/21px dashicons;
    display: inline-block;
    vertical-align: sub;
}


.ect-feedback-notice-wrapper ul li .button-primary {
   
    box-shadow: none;
    border: 1px solid #2271b1;
    text-shadow: none;
}

.ect-feedback-notice-wrapper ul li .button-primary:hover {
    border: 1px solid #2271b1;
}

.csf-field.csf-field-checkbox .csf-fieldset {
    display: flex;
    align-items: baseline;
    gap: 10px;
}